@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../fonts/Monteserrat/Montserrat.css";
@import "../fonts/ConcertOne/concert.css";

:root {
	font-family: "Monteserrat", "sans-serif" !important;
}

body {
	font-family: "Monteserrat", "sans-serif" !important;
}

li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
b,
button,
div,
a {
	font-family: "Monteserrat", sans-serif !important;
}

.title {
	font-family: "Concert One", "Monteserrat" !important;
}

.sidebar_wrapper a {
	width: 100%;
	padding: 5px;
}

.sidebar_wrapper a h6 {
  font-size: 14px;
}

.sidebar_wrapper a.active {
	background-color: red;
	border-radius: 5px;
  color: #FFF !important;
}

.sidebar_wrapper a.active svg {
  color: #FFF !important;
}
