@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../fonts/Monteserrat/Montserrat.css";
@import "../fonts/ConcertOne/concert.css";

:root {
	--bgColor: #ddd;
	--mainColor: #fff;
	--primary_text: #000;
	--secondary_text: #999;
	font-family: "Monteserrat", "sans-serif" !important;
}

body {
	background-color: var(--mainColor);
	font-family: "Monteserrat", "sans-serif" !important;
}

li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
b,
button,
div,
a {
	font-family: "Monteserrat", sans-serif !important;
}

.title {
	font-family: "Concert One", "Monteserrat" !important;
}

.wrapper_title {
	color: black;
	font-size: 26px;
	font-weight: 600;
	margin-block: 16px;
}

.action_btn {
	color: #000 !important;
}

.btn {
	background-color: var(--primary_text);
	border: 1px solid var(--bgColor);
	border-radius: 50px;
	color: var(--mainColor);
	min-width: 130px;
	padding: 10px 20px;
}

/* Layout styles */

.main_wrapper {
	display: flex;
	min-height: calc(100vh - 65px);
}

.main_wrapper-right {
	min-height: calc(100vh - 65px);
	width: 100%;
	overflow-y: auto;
	scroll-behavior: smooth;
}

.drawer-open {
	width: 240px;
}

.drawer-closed {
	width: 65px;
}

.drawer_wrapper {
	background-color: var(--bgColor);
	min-height: calc(100vh - 65px);
	padding: 5px;
	position: relative;
	z-index: 1;
}

.drawer {
	background-color: var(--bgColor);
	min-height: calc(100vh - 65px);
	padding: 5px;
	position: fixed;
	top: 65px;
	z-index: 1;
}

.drawer_button {
	align-content: center;
	align-items: center;
	background-color: var(--bgColor);
	bottom: 0;
	display: flex;
	height: 60px;
	justify-content: center;
	left: 0;
	position: absolute;
	right: 0;
}

/* Navbar styles */

.navbar_wrapper {
	align-items: center;
	background-color: var(--bgColor);
	border-bottom: 1px solid cadetblue;
	display: flex;
	height: 65px;
	left: 0;
	padding-inline: 32px;
	position: fixed;
	right: 0;
	z-index: 1000;
}

/* Sidebar styles start */
.sidebar_wrapper a {
	padding: 5px;
	width: 100%;
}

.sidebar_wrapper a h6 {
	font-size: 14px;
}

.sidebar_wrapper a.active {
	background-color: red;
	border-radius: 5px;
	color: #fff !important;
}

.sidebar_wrapper a.active svg {
	color: #fff !important;
}

/* Sidebar style ends */

/* Home Page styles */

.homepage_wrapper {
	margin-top: 4rem;
}

.homepage_wrapper > h1 {
	color: black;
	font-size: 26px;
	font-weight: 600;
}

.stats_wrapper h4 {
	color: var(--secondary_text);
	font-size: 16px;
	font-weight: 600;
}

.stats_wrapper h5 {
	color: var(--primary_text);
	font-size: 24px;
	font-weight: 600;
}

.stats_card_wrapper svg {
	color: var(--primary_text);
	font-size: 1.5em !important;
}

/* Currencies styles */

/* Reference Currencies */

.table_header {
	background-color: var(--secondary_text);
}

.table_row:hover {
	background-color: var(--bgColor);
}
