@font-face {
  font-family: "Concert One";
  src: url("ConcertOne-Regular.eot");
  src: url("ConcertOne-Regular.eot?#iefix") format("embedded-opentype"), url("ConcertOne-Regular.woff2") format("woff2"),
    url("ConcertOne-Regular.woff") format("woff"), url("ConcertOne-Regular.ttf") format("truetype"),
    url("ConcertOne-Regular.svg#ConcertOne-Regular") format("svg");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
